
exploratoryMisc/
exploratoryMisc/snpWiseResultsPlotting.R
.Rproj.user
.RData
.Rhistory
.RData
generateFPCs/ARCHIVE/fpcaAllCleanedScans.R
generateFPCs/ARCHIVE/fpcaAllCleanedScans.sh
generateFPCs/ARCHIVE/fpcaAllCleanedScans_100fPCs_round2.R
generateFPCs/ARCHIVE/fpcaAllCleanedScans_100fPCs_round2.sh
generateFPCs/ARCHIVE/fpcaAllCleanedScans_50fPCs.R
generateFPCs/ARCHIVE/fpcaAllCleanedScans_50fPCs.sh
generateFPCs/ARCHIVE/fpcaAllCleanedScans_var50Removed.R
generateFPCs/ARCHIVE/fpcaAllCleanedScans_var50Removed.sh
generateFPCs/ARCHIVE/plotingFPCAresultsRound2_generatingPhenotypeFiles.R
generateFPCs/ARCHIVE/Rplots.pdf
fpcGWAS/ARCHIVE/00_copyData.sh
fpcGWAS/ARCHIVE/01_generateGWASInput.R
fpcGWAS/ARCHIVE/02_runGWAS.sh
fpcGWAS/ARCHIVE/03_generateFUMAinput.R
fpcGWAS/ARCHIVE/04_generateMTAGinput.R
fpcGWAS/ARCHIVE/05_runningMTAG.sh
fpcGWAS/ARCHIVE/summarisingLociComparison.R
