
exploratoryMisc/
.Rproj.user
.RData
.Rhistory
.RData
generateFPCs/ARCHIVE/
fpcGWAS/ARCHIVE/
fpcGWAS/00noExclusions_copyData.sh
fpcGWAS/01noExclusions_generateGWASInput.R
GWAS/ARCHIVE/
GWAS/00_copyData.sh
GWAS/01_generateGWASInput.R
GWASfollowUp/ARCHIVE/
phenotypeCleaning/ARCHIVE/
mactelRegionsAssoc/
AMDlociAssocs/
genotypeQC/
retinalThicknessGWAS.Rproj
tidyFiles/
exploratoryClusterPixelsGWAS/
exploratoryClusterGWASResults/

